@model NewNumberPlates
@{
    ViewData["Title"] = "GeneratePlate";
}

<h2>Generate Number Plate</h2>

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LocalGovt"></label>
                    <select asp-for="LocalGovt" class="form-control" asp-items=" ViewBag.LocalGovt"></select>
                    <span asp-validation-for="LocalGovt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Count"></label>
                    <input asp-for="Count" class="form-control" type="number" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Owner"></label>
                    <input asp-for="Owner" class="form-control" />
                    <span asp-validation-for="Owner" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Generate</button>
                </div>
            </form>

            <ul>
                @foreach (var item in ViewBag.Gplates)
                {
                    <li>@item.platenumber</li>
                }
            </ul>
        </section>
    </div>
</div>